body {
  padding: 2rem;
  height: 100vh;
  // background-image: url('../images/bg-adalab.png');
  // background-color: $color-bg;
  background-color: rosybrown;
  //font-family: $font-main;
  font-family: "Urbanist", sans-serif;
  margin-left: 10px;
  margin-top: 50px;
}
.header_title {
  text-align: center;
  &_movieIcon {
    font-size: 60px;
  }
}

.main {
  &_form {
    margin-top: 10px;
    &_structure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &_textInput {
      margin-bottom: 20px;
    }
  }
  &_structuralContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    margin-right: 15px;
  }
  &_search {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 60%;
  }
  &_favorited {
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  //second_title rige tanto el título de la sección de búsqueda como de favoritos
  &_second_title {
    font-family: "Urbanist", sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
  }
  &_ulList {
    border: solid rgb(145, 75, 75) 3px;
    width: 60%;
  }
  &_ulList_container {
    margin-top: 30px;
    height: 50px;
    list-style: none;

    &_li {
      background-color: rgb(171, 209, 209);
      margin: 10px;
      display: inline-block;
      width: 90px;
      text-align: center;
      &_img {
        align-content: center;
        width: 80px;
      }
    }
    /*clase asociada a favoritos*/
    &_li_title {
      border: black 2px solid;
      background-color: rgb(222, 216, 216);
    }
    // &_li_img {
    //   height: 50px;
    // }
  }
  &_ulList2 {
    border: solid gray 5px;
    width: 100%;
    height: 100vw;
  }
}
